body,
html {
    height: 100%;
    width: 100%;
    line-height: 2;
    scroll-behavior: smooth;
}

.navbar-nav {
    position: absolute;
    right: 5%;
    margin-right: 2%;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 9;
}

.navbar {
    background-color: rgb(39, 40, 44, 0.99);
}

#start {
    background-image: url("/Users/vedpanse/Desktop/HTML/Responsive Personal Website/images/ved_panse.png");
    width: 100%;
    height: 100%;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#start h1 {
    margin: auto;
    font-size: 6rem;
}

#start .content {
    text-align: center;
    position: relative;
    top: 45%;
}

h1 {
    text-align: center;
    font-weight: 700;
}

#about {
    margin-top: 10%;
    margin-bottom: 10%;
}

#about h2 {
    font-weight: 700;
}

#about .row {
    width: 80%;
    margin: auto;
}

.progress-bar-success {
    background-color: black;
}

.progress {
    height: 5px;
}

#about label {
    margin-top: 5%;
}

#blog {
    background-color: #f7f7f7;
    padding: 10% 0%;
}

#blog .row {
    width: 80%;
    margin: auto;
}

h2 {
    font-weight: 700;
}

#blog .row:hover {
    cursor: pointer;
}

#contact form {
    width: 80%;
    margin: auto;
}

#contact form input {
    display: block;
    margin-bottom: 10%;
    border: none;
    border-bottom: 1px solid #2b2b2e;
    width: 100%;
    background: transparent;
    color: white;
}

textarea {
    display: block;
    margin-bottom: 2%;
    border: none;
    border-bottom: 1px solid #2b2b2e;
    width: 100%;
    background: transparent;
    color: white;
}

#contact {
    margin-top: 5%;
    margin-bottom: 5%;
}

#contact .row .btn {
    border-radius: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

footer {
    margin-top: 15%;
    background-color: #f7f7f7;
    padding-top: 1%;
    padding-left: 5%;
}

.projects {
    background-image: url("images/black-carbon.jpeg");
    color: white;
    padding: 5% 5%;
}

#find-me img {
    width: 50px;
    height: 50px;
}

.contacter {
    background-image: url("images/ved_panse.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 5%;
}

.modler {
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
    line-height: 1.5;
    padding: 1rem 2rem;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .modler {
        -webkit-backdrop-filter: blur(100px);
        backdrop-filter: blur(100px);
    }
}

 ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

#blog a {
    text-decoration: none;
    color: black;
}

#blog a:hover {
    text-decoration: none;
}