a.download-cv {
    text-align: right;
    position: absolute;
    right: 10%;
}

div#portfolio {
    padding-top: 5%;
    width: 80%;
    margin: auto;
}

div#portfolio hr {
    border: none;
    border-top: 1px solid rgb(0, 0, 0);
}

div#portfolio hr.weak {
    border: none;
    border-top: 0.9px solid rgb(0, 0, 0);
}

div#portfolio strong {
    text-shadow: 0.1px 0px 0px #000; /* the textcolor */
    padding-right: 1px;
    letter-spacing: 1px;
}

div#portfolio .details {
    line-height: 1.5;
}

div#portfolio .date {
    text-align: right;
}
div#portfolio li {
    line-height: 1.5;
    margin-bottom: 7px;
}

div#portfolio a:hover {
    color: #4a77d4;
    text-decoration: underline;
    text-underline-position: under;
}