html,
body {
    background-image: url(../images/bg.png);
    color: white;
    line-height: 2;
    max-width: 100vw;
}

#main,
.main {
    font-family: 'Martel Sans', sans-serif;
    width: 85%;
    margin: auto;
}

.navbar-dark {
    background-color: #282828 !important;
}

.nav-item.nav-link {
    color: white !important;
    font-size: 14px;
    margin-right: 15%;
}

.nav-item.nav-link:hover {
    text-decoration: underline;
}

.nav-item.nav-link:active {
    border: 1px solid white !important;
}

.navbar-nav {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.gradient {
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-color: #9eadf1;
    background-image: linear-gradient(90deg, #EAECC6, #2BC0E4);
    background-size: 100%;
    display: inline-block;
}

#start {
    width: 100vw;
    min-height: 100vh;
    position: relative;
}

#start .row {
    min-height: 100vh;
}

#start .over {
    position: absolute;
    top: 40%;
    transform: translate(0%, -50%);
}

.btn-blue {
    color: white;
    background-color: #405BFF;
    min-width: 121px;
    min-height: 43px;
    border: transparent;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.btn-blue:hover {
    cursor: pointer;
    text-decoration: underline;
}

a {
    color: #7084ff;
}

a:hover {
    color: #7084ff;
    text-decoration: underline;
}

a:active {
    border: 1px solid white !important;
}

.loading_cont {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.loading_cont:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0px;
    opacity: 0.05;
    z-index: 0;
}

#loader {
    display: inline-block;
    position: relative;
    width: 800px;
    height: 800px;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -400px;
}

rect {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.blobs {
    -webkit-filter: url("#goo");
    filter: url("#goo");
}

.blob {
    fill: white;
}