html,
body {
    width: 100vw;
    min-height: 100vh;
    color: white;
    background-color: black;
    line-height: 2;
}

#start {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/ved_panse.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 10%;
}

.navbar {
    background-color: transparent;
    backdrop-filter: blur(75px);
    background-color: rgb(0, 0, 0, 0.3);
    border-bottom: 1px solid rgb(255, 255, 255, 0.15);
    position: fixed;
    width: 100%;
    padding: 30px;
    z-index: 1000;
}

.navbar .nav-link.nav-item {
    color: white !important;
    font-size: 12px;
    margin: 1.5%;
}

.navbar-brand {
    color: white;
}

.navbar-nav {
    position: absolute !important;
    left: 50%;
    transform: translate(-20%, 0%);
    width: 100%;
}

.left {
    background-color: transparent;
    backdrop-filter: blur(75px);
    background-color: rgb(0, 0, 0, 0.2);
    border-right: 1px solid rgb(255, 255, 255, 0.15);
    position: fixed;
    height: 100%;
    left: 0%;
    top: 0%;
    z-index: 3;
}

.right {
    background-color: transparent;
    backdrop-filter: blur(75px);
    background-color: rgb(0, 0, 0, 0.2);
    border-left: 1px solid rgb(255, 255, 255, 0.15);
    position: fixed;
    height: 100%;
    right: 0%;
    top: 0%;
    z-index: 3;
}

.bottom {
    background-color: transparent;
    backdrop-filter: blur(75px);
    background-color: rgb(0, 0, 0, 0.2);
    border-top: 1px solid rgb(255, 255, 255, 0.15);
    position: fixed;
    padding: 1%;
    width: 100%;
    left: 0%;
    bottom: 0%;
    z-index: 3;
    text-align: center;
}

.chevron {
    width: 50%;
    position: absolute;
    height: 17%;
    top: 70%;
    left: 0%;
    background-color: rgb(119, 43, 226);
    /* , rgb(153, 43, 226) */
    z-index: 3;
}

.overlay-dark {
    background-image: linear-gradient(to right, #000000e6, rgba(0, 0, 0, 0.6), #000000e6);
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.chevron h1 {
    font-size: 102px;
    position: absolute;
    right: -20%;
}

.thinner {
    font-weight: 100;
}

.arr {
    position: relative;
    top: 45%;
    width: 4.5vw;
    max-width: 50px;
    text-align: center;
    padding: 20px;
    background-color: rgb(119, 43, 226);
    /* , rgb(147, 43, 226) */
}

.over .main {
    position: absolute;
    z-index: 2;
    top: 15%;
    left: 4.5vw;
}

.over .main a {
    margin-right: 40px;
    color: white;
}

.over .main a:hover {
    text-decoration: none;
}

.w3r-dot {
    width: 5%;
    height: 100%;
    background-color: transparent;
    background-image: radial-gradient(rgb(82, 81, 81) 10%, transparent 11%), radial-gradient(rgb(82, 81, 81) 10%, transparent 11%);
    background-size: 15px 15px;
    background-position: 0 0, 30px 30px;
    background-repeat: repeat;
    position: absolute;
    right: 5vw;
    top: 10%;
}

.tools {
    padding: 20px;
    position: relative;
    top: -80%;
    position: absolute;
    right: 20vw;
}

.tools .search {
    background-color: rgb(119, 43, 226);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    position: relative;
}

.tools .search svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tools .share {
    background-color: white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    position: relative;
}

.tools .share svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

.left-runner {
    position: absolute;
    left: 5vw;
    top: 10%;
}

#about {
    min-height: 100vh;
    width: 100vw;
    background-image: url(../images/blue.jpeg);
    /* https://wallpaperaccess.com/full/4871219.jpg */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

h1.centroid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 102px;
    text-align: center;
}

#about .overlay-dark {
    background-image: linear-gradient(to right, #000000e6, rgba(0, 0, 0, 0.2), #000000e6);
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.chunk p {
    font-size: 16px;
    font-weight: 300;
}

.button {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    right: 5%;
}

.legacy {
    border: 1px solid blue;
}

.legacy:hover {
    background-color: blue !important;
    color: white !important;
}

.button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.overbar {
    padding-top: 10px;
}

.blue {
    border-top: 2px solid blue;
}

.overbar.white {
    border-top: 2px solid white;
    padding-top: 10px;
}

.chunk.right-chunk {
    position: absolute;
    bottom: 10%;
    right: 5vw;
}

#intern {
    min-height: 100vh;
    width: 100vw;
    /* background-image: url(../images/blue.jpeg); */
    /* https://wallpaperaccess.com/full/4871219.jpg */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.bottom a {
    padding: 20px;
    border: transparent;
}

.bottom a.activate-blue {
    background-image: linear-gradient(to bottom right, rgb(0, 0, 161), rgb(30, 68, 255));
}

.bottom a.activate-red {
    background-image: linear-gradient(to bottom right, #DC143c, orangered);
}

.bottom a.activate-violet {
    background-image: linear-gradient(to top left, #8b16c5, rgb(195, 43, 226));
}

.bottom a.activate-yellow {
    background-image: linear-gradient(to bottom right, rgb(208, 177, 0), orange);
}

.bottom a.activate-green {
    background-image: linear-gradient(to top left, #38fe77, rgb(1, 130, 23));
}

.bottom a.activate-orange {
    background-image: linear-gradient(to right, orange, orangered);
}

#current-div {
    min-height: 100vh;
    width: 100vw;
    background-image: url(../images/red.jpeg);
    /* https://wallpapercave.com/wp/wp9521361.jpg */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 10%;
    display: none;
}

#skills-div .overlay-dark {
    background-image: linear-gradient(to right, #000000e6, rgba(0, 0, 0, 0.2), #000000e6);
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#skills-div {
    min-height: 100vh;
    width: 100vw;
    background-image: url(../images/purple.jpeg);
    /* https://wallpaperaccess.com/full/1106629.jpg */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 10%;
    display: none;
}

.overbar.crimson {
    border-top: 1px solid #DC143C;
}

.overbar.viola {
    border-top: 1px solid blueviolet;
}

.overbar.sulphur {
    border-top: 1px solid gold;
}

.overbar.emerald {
    border-top: 1px solid springgreen;
}

.overbar.sun {
    border-top: 1px solid orangered;
}

.lunatic {
    border: 1px solid #DC143C;
}

.hydro {
    border: 1px solid blueviolet;
}

.lunatic:hover {
    background-color: #DC143C;
    color: white;
}

.hydro:hover {
    background-color: blueviolet;
    color: white;
}

.yellow {
    border: 1px solid rgb(208, 177, 0);
}

.yellow:hover {
    background-color: rgb(208, 177, 0);
    color: white;
}

.green {
    border: 1px solid rgb(1, 130, 23);
}

.green:hover {
    background-color: rgb(1, 130, 23);
    color: white;
}

.orange {
    border: 1px solid orangered;
}

.orange:hover {
    background-color: orangered;
    color: white;
}

div.on-scroll {
    display: none;
}

.chunk {
    backdrop-filter: blur(100px);
    padding: 20px;
    width: 28vw;
}

.progress-bar-success {
    background-color: white;
}

.progress {
    height: 2px;
    margin-bottom: 5%;
    background-color: #333;
}

label {
    font-size: 14px;
}

#intern-div .overlay-dark {
    background-image: linear-gradient(to right, #000000e6, rgba(0, 0, 0, 0.2), #000000e6);
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#intern-div {
    min-height: 100vh;
    width: 100vw;
    background-image: url(../images/yellow.jpeg);
    /* https://wallpapercave.com/wp/wp7242467.jpg */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 10%;
    display: none;
}

#contact {
    min-height: 100vh;
    width: 100vw;
    margin-bottom: 10%;
}

div.title {
    position: absolute;
    right: 10vw;
    top: 50vh;
}

.social svg {
    width: 50%;
    min-width: 18.46px;
    margin: auto;
    margin-bottom: 50%;
}

.social {
    position: absolute;
    top: 13%;
    left: 1vw;
}

.bi.bi-chevron-double-down {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

a.roller img {
    width: 100%;
    height: auto;
}

.underline {
    position: fixed;
    background-color: white;
    height: 2px;
    width: 50px;
    top: 2%;
    z-index: 1000;
}

#contact button {
    border: none;
    background-color: transparent;
    color: rgb(119, 43, 226);
}

#contact button:hover {
    text-decoration: underline;
}

.form-signin {
    width: 100%;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="email"] {
    border-radius: 0%;
    margin-bottom: -1px;
}

.form-signin textarea[type="message"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin input,
.form-signin textarea {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.form-signin input:focus,
.form-signin textarea:focus {
    background-color: transparent;
    color: white;
}

label {
    color: white;
}

a {
    text-decoration: none !important;
}

.bi.bi-chevron-double-up {
    position: absolute;
    left: 1.75%;
    top: 50%;
    transform: translate(0%, -50%);
    display: none;
}

#quiz-div .overlay-dark {
    background-image: linear-gradient(to right, #000000e6, rgba(0, 0, 0, 0.2), #000000e6);
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#quiz-div {
    min-height: 100vh;
    width: 100vw;
    background-image: url(../images/tesseract.png);
    /* https://c.wallhere.com/photos/6d/4f/Minecraft_creeper_green_ore-64295.png!d */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 10%;
    display: none;
}

#language-div .overlay-dark {
    background-image: linear-gradient(to right, #000000e6, rgba(0, 0, 0, 0.2), #000000e6);
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#language-div {
    min-height: 100vh;
    width: 100vw;
    background-image: url(../images/orange.jpeg);
    /* https://wallpapercave.com/wp/wp7242467.jpg */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 10%;
    display: none;
}

.top-left,
.top-right,
.bottom-left,
.bottom-right {
    position: absolute;
    background-color: rgb(255, 255, 255, 0.15);
    width: 1px;
    height: 100%;
    top: 0%;
}

#start .over .main {
    z-index: 100;
}

.search:hover {
    cursor: pointer;
}

#search-form {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

#search-form input {
    background-color: transparent;
    border: transparent;
    backdrop-filter: blur(100px);
    width: 50vw;
    border: 1px solid white;
    color: white;
}

#form-close {
    text-align: right;
}

#form-close:hover {
    cursor: pointer;
}

.share:hover {
    cursor: pointer;
}

.aspiring {
    position: absolute;
    max-width: 20vw;
    right: 7vw;
    top: 20%
}

.menu-container {
    display: none;
    cursor: pointer;
    position: fixed;
    right: 1%;
    top: 3%;
    z-index: 100000000;
}

.bar1,
.bar2,
.bar3 {
    width: 20px;
    height: 1px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}


/* RESPONSIVENESS */

@media screen and (max-width: 991px) {
    .navbar {
        padding: 5px;
    }
    .underline {
        display: none;
    }
}

@media screen and (max-width: 773px) {
    .over .main {
        display: none;
    }
    .aspiring {
        right: 50vw;
        max-width: 50vw;
    }
    .chevron h1 {
        font-size: 72px;
    }
    .tools {
        display: none;
    }
    .arr {
        min-width: 15px;
    }
    h1.centroid {
        font-size: 32px;
        top: 0%;
        right: 5vw;
    }
    .chunk.right-chunk {
        width: 50vw;
    }
    .menu-container {
        display: inline-block;
    }
}