html,
body {
    min-height: 100%;
    min-width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Arial, sans-serif;
    font-size: 15px;
    color: #27282c;
    margin: 0;
    line-height: 2;
    scroll-behavior: smooth;
}

.navbar {
    /* background-color: #27282c; */
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
    padding: 0.1% 2%;
}

.navbar-nav {
    position: absolute;
    right: 7%;
}

.navbar-brand {
    font-size: 18px;
    color: white;
}

.nav-link {
    font-size: 14px;
    color: white;
}

.navbar-brand:hover,
.nav-link:hover {
    color: white;
}

.leftnav {
    border-right: 1px solid rgba(39, 40, 44, .2);
}

.main {
    min-height: 100%;
    margin-top: 2%;
}

.leftnav p {
    display: block;
    overflow: hidden;
    padding: 8px 0;
    font-size: 12px;
    margin-left: 0%;
    padding-left: 10%;
    margin-right: 0%;
    margin-bottom: 0%;
}

.leftnav p.active {
    color: white;
    background-color: #27282c;
    margin-left: 0%;
    padding-left: 10%;
    margin-right: 0%;
}

.leftnav p.active:hover {
    background-color: #27282c;
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

.u {
    border-bottom: 1px solid rgb(218, 218, 218);
    padding-bottom: 2px;
    color: #27282c;
}

.u:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
    color: #27282c;
}

.context {
    padding-left: 3%;
    padding-right: 10%;
    color: #27282c;
}

@media only screen and (max-width: 600px) {
    .context {
        width: 90%;
        margin: auto;
    }
    .leftnav {
        display: none;
    }
}

.marge-5 {
    margin-top: 5%;
}


/* .context a {
    color: #7f52ff;
    border-bottom: 1px solid #7f52ff;
    text-decoration: none;
}

.context a:hover {
    color: #7f52ff;
    border-bottom: 1px solid #7f52ff;
    text-decoration: none;
} */

.context a {
    color: #7f52ff;
    border-bottom: 1px solid #7f52ff;
    text-decoration: none;
}

.context a:hover {
    color: #7f52ff;
    border-bottom: 1px solid #7f52ff;
    text-decoration: none;
}

.nav-item {
    margin-right: 15%;
}

h2 {
    font-size: 31px;
    font-weight: 700;
}

.leftnav p:hover {
    background-color: rgb(228, 228, 228);
    cursor: pointer;
}

.compare {
    width: 95%;
    margin: auto;
}

tr.th {
    border-bottom: 1px solid gray;
}

tr {
    width: 100%;
}

td {
    width: 50%;
    padding-right: 5%;
}

.compare tr td ul li {
    text-align: justify;
}

.next {
    font-weight: 700;
    text-align: right;
}

.next:hover {
    cursor: pointer;
}

.compare tr th {
    color: #7f52ff;
    font-size: 16px;
}


/* in-built terminal */

.terminal {
    width: 85%;
    background: #f5f2f0;
    padding: 5% 5%;
    border-radius: 5px;
}

.terminal .h {
    color: #ff7ab2;
}

.terminal pre {
    font-family: SF Mono, SFMono-Regular, ui-monospace, Menlo, monospace;
    font-size: 16px;
}

.terminal .g {
    color: #669900;
}

.terminal .str {
    color: #d9c97c;
}

.terminal .e {
    color: white;
}

.terminal .s {
    color: #990055;
}

.terminal .c {
    color: #7f8c98;
}

.content-bar {
    position: absolute;
    right: 10%;
    top: 5%;
    border-left: 0.5px solid gray;
    max-width: 7%;
}

.content-bar a {
    display: block;
    border-bottom: none;
    text-decoration: none;
    color: gray;
    font-size: 12px;
    padding-left: 30px;
    margin-bottom: 20%;
    line-height: 1.5;
}

.content-bar a.active {
    color: black;
    border-left: 2px solid black;
}

.content-bar a:hover {
    text-decoration: none;
    border-bottom: none;
    color: black;
}

@media screen and (max-width: 400px) {
    .content-bar {
        display: none;
    }
}

#introduction-content {
    width: 90%;
}

.loc-band {
    background-color: rgb(245, 245, 247, 0.8);
    color: black;
    width: 100%;
    padding: 0.5% 2%;
    font-size: 14px;
    position: fixed;
    z-index: 9;
    backdrop-filter: blur(40px);
}

.loc-band a {
    color: black;
    display: inline;
    margin-right: 0.5%;
}

.loc-band a:hover {
    color: #7f52ff;
    text-decoration: none;
}

.header {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
    padding: 0.1% 2%;
    width: 100%;
    position: relative;
    display: none;
}

.header-right {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.menu {
    width: 20px;
    height: 1px;
    background-color: white;
    margin: 6px 0;
}

@media screen and (max-width: 991px) {
    .navbar {
        display: none;
    }
    .header {
        display: block;
    }
}

.overlay-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: left;
    margin-top: 20px;
    padding-left: 5%;
    padding-bottom: 25%;
}

.overlay-nav a {
    padding: 8px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay-nav a:hover,
.overlay-nav a:focus {
    color: #f1f1f1;
}

.overlay-nav .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 20px;
}

@media screen and (max-height: 450px) {
    .overlay-nav a {
        font-size: 20px
    }
    .overlay-nav .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.overlay-nav .active {
    color: white;
}

.menu:hover {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .main {
        margin-top: 35%;
    }
}

.terminal .p {
    color: #dabaff;
}

table.linear {
    width: 100%;
    border-radius: 5px;
}

table.linear tr {
    border: 1px solid black;
    border-radius: 5px;
}

table.linear td {
    border-right: 1px solid black;
    padding-left: 2%;
}

.dark-notifier {
    background-color: #444444;
    color: white;
    position: relative;
}

.dark-notifier p {
    font-size: 13px;
    padding: 1%;
}

.dark-notifier i {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-50%, -50%);
}

.dark-notifier i:hover {
    cursor: pointer;
}

button.btn-darkMode {
    border-color: #07c;
    background-color: #233EF7;
    color: white;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dark-alt {
    display: none;
    font-size: 12px;
    background-color: #444444;
    color: white;
}

.dark-alt button {
    border-color: #07c;
    background-color: #233EF7;
    color: white;
}

@media screen and (max-width: 600px) {
    .loc-band {
        display: none;
    }
    .dark-notifier {
        display: none;
    }
    .dark-alt {
        display: block;
    }
}

button.btn-lightMode {
    border-color: #07c;
    background-color: #233EF7;
    color: white;
    position: absolute;
    right: 7%;
    top: 50%;
    transform: translate(-50%, -50%);
}